@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


html{ font-size: 62.5%;}

*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --color-primary: #000C24;
    --color-secondary: #928A97;
    --color-accent: #F44336;
    --color-background: whitesmoke;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    color: rgb(58, 57, 57);
}

/* container */

.container{
    padding: 3rem
}

/* buttons */

.btn{
    color: var(--color-background);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
}

.btn--primary{
    background: var(--color-primary);
}

.btn--secondary{
    background: var(--color-secondary);
}

/* Lists */

.lists{
    list-style: none;
    padding-left: 0;
    color: var(--color-secondary);
}
.list__item{
    margin: 1rem 0;
}

/* media */
.media__header{
    color: var(--color-accent);
}
.media__content{
    font-weight: 300;
}

/* progress */
.progress{
    display: inline-block;
}

.progress__content{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(var(--color-primary) 342deg, gray 0deg);
    font-size: 0;
    margin: 0 auto;
}
.progress__content::after{
    content: attr(data-progress) "%";
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 6px;
    border-radius: 50%;
    background: white;
    font-size: 1.5rem;
    text-align: center;
}
.progress__text{
    text-align: center;
    margin-top: .8rem;
}


/* icons */

.icon{
    width: 30px;
    height: 30px;
}
.icon--primary{
    fill: var(--color-secondary);
    background: var(--color-primary);
}
.icon--secondary{
    fill: var(--color-secondary);
}

/* grid */

.grid{
    border: 1px solid black;
    padding: 2rem;
}
.grid--1x2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media screen and (min-width: 768px) {
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

/* Collapsibles */

.collapsible__header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.collapsible__content{
    width: 90%;
    max-height: 0;
    margin: auto;
    opacity: 0;
    transition: all .5s;
}
.collapsible__icon{
    transform: rotate(-90deg);
    transition: transform .5s;
}

.collapsible--expanded .collapsible__icon{
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content{
    opacity: 1;
    max-height: 100vh; 
}
