@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Rubik+Iso&display=swap');rt url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Rubik+Marker+Hatch&display=swap');

html{ font-size: 62.5%;}

*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --color-primary: #000C24;
    --color-secondary: #928A97;
    --color-accent: #F44336;
    --color-background: rgb(200, 197, 197);
}

body{
    background-image: url(../images/vbackground.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(58, 57, 57);
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* container */

.container{
    padding: 1rem
}
@media screen and (min-width: 768px) {
    .container{
        padding: 3rem
    }
}

/* buttons */

.btn{
    color: var(--color-background);
    padding: .5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: medium;
}

.btn--primary{
    background: var(--color-primary);
}

.btn--secondary{
    background: var(--color-secondary);
}

/* Lists */

.lists{
    list-style: none;
    padding-left: 0;
    color: var(--color-secondary);
}
.list__item{
    margin: 1rem 0;
}

/* media */
.media__header{
    color: var(--color-accent);
}
.media__content{
    font-weight: 300;
}

/* progress */
.progress{
    display: inline-block;
}

.progress__content{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(var(--color-primary) 342deg, gray 0deg);
    font-size: 0;
    margin: 0 auto;
}
.progress__content::after{
    content: attr(data-progress) "%";
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 6px;
    border-radius: 50%;
    background: white;
    font-size: 1.5rem;
    text-align: center;
}
.progress__text{
    text-align: center;
    margin-top: .8rem;
}


/* icons */

.icon{
    width: 30px;
    height: 30px;
}
.icon--primary{
    fill: var(--color-secondary);
    background: var(--color-primary);
}
.icon--secondary{
    fill: var(--color-secondary);
}

/* grid */

.grid{
    border: 1px solid black;
    padding: 2rem;
}
.grid--1x2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media screen and (min-width: 768px) {
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

/* Collapsibles */

.collapsible__header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.collapsible__content{
    width: 90%;
    max-height: 0;
    margin: auto;
    opacity: 0;
    transition: all .5s;
}
.collapsible__icon{
    transform: rotate(-90deg);
    transition: transform .5s;
}

.collapsible--expanded .collapsible__icon{
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content{
    opacity: 1;
    max-height: 100vh; 
}

/* Navigation bar */
.nav{
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 2px solid var(--color-secondary);
}
.nav__brand{
    width: 20rem;
    height: 9rem;
    display: inline-block;
}
.nav__header{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.nav__icon{
    width: 5rem;
    height: 5rem;
    fill: var(--color-primary);
    opacity: 0.8;
    cursor: pointer;
    transition: box-shadow 0.15s;
    margin: auto 0;
}

.nav__list{
    margin: 0;
    padding: 0 5rem;
    width: 100%;
    color: var(--color-primary);
}

.nav__list .list__item{
    padding: .5rem 0;
    border-bottom: 2px solid var(--color-secondary);
    
}

.nav.collapsible--expanded .nav__icon{
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
    opacity: 2;

}

.nav__toggler{
    align-items: center;
    justify-content: center;
    display: flex;
}

@media screen and (min-width: 768px) {
    .nav{
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav__icon{
        display: none;
    }
     .nav__list{
        width: auto;
        opacity: 1;
        display: flex;
        gap: 2.5rem;
        max-height: 100%;
    }
    .nav__list .list__item{
        border: none;
    }
}


 /* Hero */
.hero{
    background: var(--color-primary);
    padding: 4rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--color-background);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);



}
    
.hero__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .hero__heading{
    font-family: 'Rubik Iso', cursive;
    font-size: 2rem;
    margin: 1rem 0;
}
.hero__profession{
    margin: .5rem 0;
}
.hero__image{
    max-width: 20rem;
    margin: 0 auto;
}
.hero__image img{
    border-radius: 50%;
    border: 5px solid var(--color-background);
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero{
        padding: 6rem;
    }
}


/* skills */

.skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: .2rem;
    font-size: 1.2rem;
}
.progress-bar{
    background: var(--color-accent);
    width: 100%;
    height: .5rem;
    border-radius: 5px;
    display: flex;
    border: 1px solid var(--color-primary);
}

.progress-bar div{
    height: .2rem;
    border-radius: inherit;
    margin: auto .2rem;
    width: 0%;
    background: #000C24;
    align-items: center;
    justify-content: space-around;
}

.javascript-skill{
    animation: javascript 1s linear forwards;
}
.react-skill{
    animation: react 1s linear forwards;

}
.angular-skill{
    animation: angular 1s linear forwards;

}
.python-skill{
    animation: python 1s linear forwards;

}
.node-skill{
    animation: node 1s linear forwards;

}

@keyframes javascript{
    100%{
        width: 86%;
    }
}

@keyframes react{
    100%{
        width: 84%;
    }
}

@keyframes angular{
    100%{
        width: 80%;
    }
}

@keyframes python{
    100%{
        width: 77%;
    }
}

@keyframes node{
    100%{
        width: 82%;
    }
}

.progress--content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.skills__block{
    max-width: 15rem;
}

.progress--content span{
    margin-top: 1rem;
    margin-bottom: .2rem;}



/* recommendations block */

.recommendations-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;
    padding: 2rem;
    box-shadow: 0 0 3px 5px gray;
    border-radius: 5px;
}
.recommendations-block img{
    height: 5rem;
    width: 5rem;
}

/* Image containers */
.image-container{
    max-width: 400px;
}

.image-container img{
    width: 100%;
    border-radius: 50%;
}
.skewed--left{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);

}
.skewed--right{
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

}




/* media */
.media{
    font-size: 1.4rem;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    max-width: 80rem;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;

}
.media__content{
    width: 100%;
    border: 5px solid var(--color-primary);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px gray;

}
.media__content h2{
    color: var(--color-accent);
}
.media__icons{
    width: 100%;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 2rem;
}
.media__image{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px gray;
    border: 5px solid var(--color-primary);
}
