<section class="media grid--1x2">
    <div class="image-container">
        <img class="media__image" src="images/me.png" alt="">
    </div>

    <div class="media__content">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veritatis recusandae consequatur, libero corrupti nostrum repellat. Rem, exercitationem placeat voluptatibus obcaecati iste deleniti itaque reprehenderit voluptates pariatur dignissimos illum nesciunt.</p>
        <button class="btn btn--primary">
            Download CV
        </button>
    </div>
</div>


