<div class="collapsible ">
    <header class="collapsible__header">
        <h1>Collapsible</h1>
        <svg class="icon icon--primary collapsible__icon">
            <use xlink:href="images/svg-sprite.svg#circle-arrow-down-solid"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid adipisci laborum optio unde cum aperiam enim repudiandae, maiores rerum nam, reiciendis sed ut ad reprehenderit non quos perferendis quod minus.
    </div>
</div>

<div class="collapsible">
    <header class="collapsible__header">
        <h1>Collapsible</h1>
        <svg class="icon icon--primary collapsible__icon">
            <use xlink:href="images/svg-sprite.svg#circle-arrow-down-solid"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid adipisci laborum optio unde cum aperiam enim repudiandae, maiores rerum nam, reiciendis sed ut ad reprehenderit non quos perferendis quod minus.
    </div>
</div>

<div class="collapsible">
    <header class="collapsible__header">
        <h1>Collapsible</h1>
        <svg class="icon icon--primary collapsible__icon">
            <use xlink:href="images/svg-sprite.svg#circle-arrow-down-solid"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid adipisci laborum optio unde cum aperiam enim repudiandae, maiores rerum nam, reiciendis sed ut ad reprehenderit non quos perferendis quod minus.
    </div>
</div>
<script src="js/index.js"></script>