<section class="contact__block">

    <div class="form--group grid--1x2">
        <div class="contact__shoutout">
            <h1>
                Drop me a line. I would like to hear from you
            </h1>
        </div>
        <form>
            <h2>Get in touch</h2>
            <div>
                <input class="form--input" type="text" name="name" placeholder="Name" id="name" required>
            </div>

            <div>
                <input class="form--input" type="email" name="email" id="email" placeholder="Email" required>
            </div>

            <div>
                <textarea class="form--input" name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
            </div>

            <div>
                <button class="btn btn--primary">
                    Send Message
                </button>
            </div>
        </form>
</section>