<section class="footer">
    <h2 class="hero__heading">Ikenna Udemezue</h2>
    <div class="icon-container footer__icon">
        <svg class="icon icon--primary">
            <use xlink:href="images/svg-sprite.svg#linkedin-brands"></use>
        </svg>
        <svg class="icon icon--secondary">
            <use xlink:href="images/svg-sprite.svg#github-brands"></use>
        </svg>
        <svg class="icon icon--secondary">
            <use xlink:href="images/svg-sprite.svg#square-twitter-brands"></use>
        </svg>
    </div>
    <span class="footer__text">
        All rights reserved &#x00a9; 2022 Ikenna Udemezue
    </span>
</section>