<div class="grid grid--1x2">
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta magnam consequatur quisquam aliquam deleniti error quasi neque nemo ipsam minima ipsa, veniam animi consectetur quo voluptatem! Aperiam ea unde sed.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae asperiores libero labore nobis vel tempora voluptatem officiis quasi deserunt minima ratione ipsa facilis perspiciatis, minus, itaque obcaecati doloribus, cum amet?</div>
</div>