<section class="hero grid--1x2">
    <div class="hero__content">
        <h2 class="hero__heading">
            IKENNA UDEMEZUE
        </h2>
        <p class="hero__profession">Software Engineer + Full Stack Developer</p>
        <div class="hero__icons">
            <svg class="icon icon--secondary">
                <use xlink:href="images/svg-sprite.svg#github-brands"></use>
            </svg>
            <svg class="icon icon--secondary">
                <use xlink:href="images/svg-sprite.svg#linkedin-brands"></use>
            </svg>
            <svg class="icon icon--secondary">
                <use xlink:href="images/svg-sprite.svg#square-twitter-brands"></use>
            </svg>
        </div>
    </div>
    <div class="hero__image">
        <img src="images/fullstack.png" alt="">
    </div>
</section>