<div class="nav collapsible">
    <div class="nav__header">
        <div class="nav__brand">
            <img src="images/logo.png" alt="">
        </div>
        <div class="nav__toggler">
            <svg class="icon icon--secondary nav__icon">
                <use xlink:href="images/svg-sprite.svg#bars-solid"></use>
            </svg>
        </div>
    </div>
    <div class="nav__items">
        <ul class="lists nav__list collapsible__content">
            <li class="list__item">Home</li>
            <li class="list__item">About</li>
            <li class="list__item">Skills</li>
            <li class="list__item">Works</li>
            <li class="list__item">Contact</li>
        </ul>
    </div>
</div>
<script src="js/index.js"></script>