<div class="recommendations-block">
    <img src="images/five-star-yellow-icon.svg" alt="">
    <h2>Great  Quality</h2>
    <p>
        Iyke has done a fantastic job overall. Not only did he take the job on short notice site, the code is very clean and slick. Love the way he achieved the translations portion of the site.</p>
    <p>
        __Chukky Emeka, <em><b>BlockchainHub Africa</b></em>
    </p>
</div>


<!-- recommendations section -->

<section class="testimonials grid--1x3">
    <div class="recommendations-block">
        <img src="images/five-star-yellow-icon.svg" alt="">
        <h2>Great  Quality</h2>
        <p>
            We have the fortune of working with Ian on a very regular basis. Every single project is done in a timely fashion and is delivered exactly as is outlined. Beyond that, his development skills and expertise make him an invaluable part of our process. We absolutely offer our highest possible recommendation
        <p>
            __Chukky Emeka, <em><b>BlockchainHub Africa</b></em>
        </p>
    </div>

    <div class="recommendations-block">
        <img src="images/five-star-yellow-icon.svg" alt="">
        <h2>Great Energy</h2>
        <p>
            "Iyke has been a real pleasure to work with and we look forward to working with him again. He’s definitely the kind of designer you can trust with a project from start to finish.”        </p>
        <p>
            __Munachi Peter, <em><b>Digital Dreams</b></em>
        </p>
    </div>

    <div class="recommendations-block">
        <img src="images/five-star-yellow-icon.svg" alt="">
        <h2>Great  Quality</h2>
        <p>
            Iyke has done a fantastic job overall. Not only did he take the job on short notice site, the code is very clean and slick. Love the way he achieved the translations portion of the site.</p>
        </p>
        <p>
            __Ukwueji Uriel, <em><b>Digital Dreams</b></em>
        </p>
    </div>
</section>