<div class="recommendations-block">
    <img src="images/five-star-yellow-icon.svg" alt="">
    <h2>Great  Quality</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum eos ipsa laboriosam. Alias distinctio voluptatem quaerat animi tempora minus minima vero, nihil, cupiditate culpa harum, quisquam provident nostrum non?
    </p>
    <p>
        __Chike Anansi, <em><b>Digital Dreams</b></em>
    </p>
</div>


<!-- recommendations section -->

<section class="testimonials grid--1x3">
    <div class="recommendations-block">
        <img src="images/five-star-yellow-icon.svg" alt="">
        <h2>Great  Quality</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum eos ipsa laboriosam. Alias distinctio voluptatem quaerat animi tempora minus minima vero, nihil, cupiditate culpa harum, quisquam provident nostrum non?
        </p>
        <p>
            __Chike Anansi, <em><b>Digital Dreams</b></em>
        </p>
    </div>

    <div class="recommendations-block">
        <img src="images/five-star-yellow-icon.svg" alt="">
        <h2>Great  Quality</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum eos ipsa laboriosam. Alias distinctio voluptatem quaerat animi tempora minus minima vero, nihil, cupiditate culpa harum, quisquam provident nostrum non?
        </p>
        <p>
            __Chike Anansi, <em><b>Digital Dreams</b></em>
        </p>
    </div>

    <div class="recommendations-block">
        <img src="images/five-star-yellow-icon.svg" alt="">
        <h2>Great  Quality</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum eos ipsa laboriosam. Alias distinctio voluptatem quaerat animi tempora minus minima vero, nihil, cupiditate culpa harum, quisquam provident nostrum non?
        </p>
        <p>
            __Chike Anansi, <em><b>Digital Dreams</b></em>
        </p>
    </div>
</section>