<div class="skills">

    <div class="skills__block">
        <div class="progress--content">
            <h2>JavaScript</h2>
            <span>86%</span>
        </div>
        <div class="progress-bar">
            <div class="javascript-skill"></div>
        </div>
    </div>

    <div class="skills__block">
        <div class="progress--content">
            <h2>React</h2>
            <span>84%</span>
        </div>
        <div class="progress-bar">
            <div class="react-skill"></div>
        </div>
    </div>



    <div class="skills__block">
        <div class="progress--content">
            <h2>Node</h2>
            <span>80%</span>
        </div>            
        <div class="progress-bar">
            <div class="node-skill"></div>
        </div>
    </div>

    <div class="skills__block">
        <div class="progress--content">
            <h2>Angular</h2>
            <span>80%</span>
        </div>            
        <div class="progress-bar">
            <div class="angular-skill"></div>
        </div>
    </div>

    <div class="skills__block">
        <div class="progress--content">
            <h2>Python</h2>
            <span>77%</span>
        </div>
        <div class="progress-bar">
            <div class="python-skill"></div>
        </div>
    </div>

</div>